<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>

    <filter>
        <filter-name>cookiesFilter</filter-name>
        <filter-class>com.example.development.filters.CookiesFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>cookiesFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>userFilter</filter-name>
        <filter-class>com.example.development.filters.UserFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>userFilter</filter-name>
        <url-pattern>/Admin</url-pattern>
        <url-pattern>/Aderente</url-pattern>
        <url-pattern>/Simpatizzante</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>homepage</servlet-name>
        <jsp-file>/homepage.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>homepage</servlet-name>
        <url-pattern>/homepage</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Aderente</servlet-name>
        <jsp-file>/Aderente.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Aderente</servlet-name>
        <url-pattern>/Aderente</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Admin</servlet-name>
        <jsp-file>/Admin.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Attivita</servlet-name>
        <jsp-file>/Attivita.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Attivita</servlet-name>
        <url-pattern>/Attivita</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Attivita1</servlet-name>
        <jsp-file>/Attivita1.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Attivita1</servlet-name>
        <url-pattern>/Attivita1</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Attivita2</servlet-name>
        <jsp-file>/Attivita2.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Attivita2</servlet-name>
        <url-pattern>/Attivita2</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Attivita3</servlet-name>
        <jsp-file>/Attivita3.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Attivita3</servlet-name>
        <url-pattern>/Attivita3</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChiSiamo</servlet-name>
        <jsp-file>/ChiSiamo.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChiSiamo</servlet-name>
        <url-pattern>/ChiSiamo</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Contatti</servlet-name>
        <jsp-file>/contatti.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Contatti</servlet-name>
        <url-pattern>/Contatti</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logIn</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>logIn</servlet-name>
        <url-pattern>/logIn</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>notAuthorized</servlet-name>
        <jsp-file>/notAuthorized.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>notAuthorized</servlet-name>
        <url-pattern>/notAuthorized</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>signUp</servlet-name>
        <jsp-file>/signUp.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>signUp</servlet-name>
        <url-pattern>/signUp</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Simpatizzante</servlet-name>
        <jsp-file>/Simpatizzante.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>Simpatizzante</servlet-name>
        <url-pattern>/Simpatizzante</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>logOut</servlet-name>
        <jsp-file>/logOut.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>logOut</servlet-name>
        <url-pattern>/logOut</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>homepage</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>120</session-timeout>
    </session-config>

</web-app>