.flexbox-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}

.logOutRectangle {
    visibility: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, #3B8EA5, #2D728F);
    border-radius: 10px;
    padding: 2%;
    margin-top: 10vh;
}

.title {
    width: 100%;
    text-align: center;
    font-size: xx-large;
    margin: 2%;
}

.scelta {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 4%;
}

.scelta button {
    font-size: x-large;
    border-radius: 6px;
    color: #f4ed9d;
    cursor: pointer;
    padding: 2%;
}

#Si {
    font-size: x-large;
    background-color: #5ca44f;
    border: none;
    box-shadow: 0 1px 1px #4d8642;
    transition: all 0.2s ease-in-out;
}

#Si:hover {
    background-color: #4d8642;
    transform: scale(105%);
}
