.Dashboard {
    background-color: #AEE1E1;
    border: 2px solid #AEE1E1;
    box-shadow: 4px 4px 4px #EEEEEE;

}

.Dashboard-title{
    color: #1D1C1A  ;
}

.Dashboard-description {
    color: #1D1C1A ;
}



.Attivita{

    background-color: #AEE1E1;
    border: 2px solid #AEE1E1;
    box-shadow: 3px 3px 2px #EEEEEE;

}

.Attivita-title{
    color: #1D1C1A;
}

.bottone-elemento{
    color: #1D1C1A ;
    background-color: #FCD1D1;
    border: 2px solid #FCD1D1;
    box-shadow: 2px 2px 2px #EEEEEE;
}

#btn2:hover{
    background-color: #fa5858;
    color: white;
    box-shadow: 2px 2px 2px rgb(162, 51, 39);
}


.donazione{
    display: flex;
    color: #1D1C1A;
    width: 50%;
    margin-top: 5%;
    align-self: stretch;
    margin-left: 5%;
    background-color: #FCD1D1;
    border: 2px solid #FCD1D1;
    box-shadow: 2px 2px 2px #EEEEEE;
    border-radius: 6px;
}
.donazione form{
    font-size: larger;
    display: flex; /* metto gli items del form orizzontali */
    align-items: center;
    justify-content: space-around;
    width: 100%;

}

#donazione-label{
    margin-left: 5%;
}

#quantita{
    font-size: larger;
    width: 30%;
    margin-left: 5%;
    margin-right: 5%;
    background-color:  #FCD1D1;
    border: 1px solid #1D1C1A;
    border-radius: 1px;

}


#submit-donation{
    font-size: larger;
    padding: 3%;
    background-color:  #1D1C1A;
    border-radius: 4px;
    color: #FCD1D1;
}

#submit-donation:hover{
    cursor: pointer;
    transform: scale(105%);
}

/* Data una quantita di solidi invalida il JS usa questa animazione
   per "mostrare" l'errore", le percentuali sono la quantità di tempo dopo
   la quale viene eseguita quella operazione*/
@keyframes donazioneInvalida {
    0% { transform: translateX(0); }
    25% { transform: translateX(10px); }
    50% { transform: translateX(0); }
    75% { transform: translateX(10px); }
    100% { transform: translateX(0); }
}