.title{
    background-color: #a23327;
    border: 3px solid #F49E4C;
}

.title p{
    color: #F5EE9E;
}

.descrizione{
    background-color: #a23327;
}

.descrizione p{
    color: white;
}


.titoletto{
    color: #56E2FF;
}

.evidenziato{
    font-weight: bold;
    color: #F5EE9E;
}