body {
    background-image: url("../../assets/themes/dark/background.jpg");
    margin: 20vh 0 0;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F5EE9E;
}

