::-webkit-scrollbar {
    display: none;
    /* Rimuovo la scroll-Bar della pagina, per i browser che non supportano questa opzione viene utilizzata
     scrollbar-width: none; in base.css*/
}

/*
    La struttura è fatta in questo modo:
    - Il body è flex
    - ALl'interno del body ho creato un flexbox-container centrato rispetto al body
    - Gli elementi del flexbox (chiamati flex-Container-element)sono disposti a colonna,
        ogni flex-Container-element contiene un elementoSX e un elementoSX
    - L'elemento è o immagine o rettangolo. Il flex-Container-element che contiene
       gli elementoSX e elementoDX è un felx normale (orizzontale) per far sì che
       immagine e foto siano allineati tra di loro (asse y) e rispetto al container (asse y)
    - La vignetta è un flexbox semplice per riga composto da triangolo + rettangolo
 */
.flexbox-container {
    flex: 1; /* Utilizzo tutto lo spazio del body */
    display: flex; /* Uso il flex disposition così da allineare colonnaSx linea, colonnaDX. NB: di default è orizzontale */
    flex-direction: column;
    justify-content: center; /* In questo modo sono centrati (rispetto al cross axis X e la linea risulta perfettamente al centro dello schermo */
    align-items: center;  /* Il default è stratch, centro gli elementi verticalmente */
    top: 20vh;
    left: 5%; /* Lascio un margina a Sx e DX */
    width:90%; /* Così 90+5+5 è centrato */
    /* border: 10px solid black; */
}
.flex-Container-element{
    /*Elemento= Foto o Cartoon, disposti verticalmente all'interno del flexbox-container */
    flex-grow:1; /* Voglio che occupi l'intera porzione a disposizione sia a SX che a DX nel Body*/
    justify-content: center; /* Elementi al centro (asse X) */
    align-items: center; /* Elementi al centro (asse Y) */
    display: flex;
    margin-bottom: 5%;
    /* border: 3px solid #834242; */
}
.elementoSX{
    margin-right: 5%;
}
.elementoDX{
    margin-left: 5%;
}
.elementoSX,
.elementoDX{
    flex: 0 0 33%; /*They need to occupy the same space (30%)*/
}

.vertical-line {
    position: absolute;
    top: 20vh; /* stessa posizione del flexbox container */
    right: 50%;
    border: 8px solid white;
    border-radius: 8px;
    height: 100%;
}
.images{
    height: auto;
    max-width:100%;
}


.cartoon{
    /* Container del rettangolo + triangolo*/
    Height: auto;
    display: flex;
    /* border: 4px solid yellow; */
}

.Triangle{
    /* Stesse impostazioni presenti nel CookieBanner, un po' riviste */
    margin-top:50%; /*Così da averlo in mezzo*/
    bottom: 0;
    width: 0;
    height: 0;
    border-right: 1em solid #a23327;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
}
.Rectangle{
    padding: 5px;
    border: 3px solid #a23327;
    border-radius: 3px;
    background-color: #a23327;
    font-size: larger;
}