
.RectangularBanner h2{
    font-size: 200%;
}
.RectangularBanner p, a{
    font-size: 150%;
    color: #F5EE9E;
}

.CookieBanner img {
    position: relative;
    width:10%;
    margin: 3% 0 0 92%;
    height:auto;
    /*Creo un animazione chiamata spin dalla durata di 2 secondi ripetuta due volte*/
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: 2;
}

@keyframes spin {
    from {
        transform: rotateX(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.CookieBanner{
    height: 5%;
    position: fixed;
    bottom: 27%;
    right: 1%;
    font-size: 60%;
    width: auto;
    max-width: 30%;
    margin: 20% 0 0 65%;
    z-index: 9999;
}
/* Siamo il gruppo 17-> dispari --> in basso a destra*/
.RectangularBanner {
    position: relative;
    width: auto;
    height: auto;
    background-color: #39728F;
    border-radius: 10px;
    padding: 1%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin-top: 1%;
}
.RectangularBanner form{
    margin-top:2%;
    display: flex;
    padding-bottom: 1%;
}

.RectangularBanner form button{
    margin-right: 2%;
    font-size: 150%;
    color: #F5EE9E;
    background-color: #AB3428;
    width: 100%;
    height: 300%;
    border: 0.1em solid #B3463C;
    border-radius: 3%;
}
.RectangularBanner form button:hover{
    background-color: #B3463C;
    cursor: pointer;
}


.RectangularBanner:after {
    /* Creo il triangolo con uno pseudo elemento: */
    content: ""; /* Contenuto dell'elemnto è vuoto*/
    position: absolute;
    /* Voglio mettere la freccia sotto a dx*/
    top: 100%;
    left: 100%;
    margin-left: -5%;
    /* Disegno con i bordi->
       Un quadrato ha 4 bordi a forma di triangolo
       con le punte verso l'esterno, se ne cancello due mettendoli
       trasparenti ottengo un triangolo
    */
    width: 0;
    height: 0;
    border-left: 1.5em solid transparent;
    border-top: 1.5em solid #39728F;
    border-right: 1.5em solid transparent;
}