::-webkit-scrollbar {
    display: none;
}

body {
    margin: 20vh 0 0;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}

main h2 {
    font-size: xx-large;
    font-weight: bolder;
    align-self: start;
    margin-top: 10vh;
}

main p {
    font-size: large;
    margin-bottom: 10vh;
}

#logo {
    opacity: 0;
    width: 40%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    transition: all 0.5s ease-out;
}

#mainImg {
    opacity: 0;
    width: 60%;
    margin-top: 10vh;
    margin-bottom: 10vh;
    transition: all 0.5s ease-out;
}

#download {
    font-weight: bold;
    border: transparent;
    border-radius: 10px;
    width: 20%;
    height: 40px;
    margin-top: 20vh;
    padding: 4px;
    transition: all 0.4s ease-in-out;
}

#download:hover {
    cursor: pointer;
    transform: scale(110%);
}

